.mimer-badge {
    background: #F2F6FF;
    border: 0.5px solid #BACEFF;
    font-weight: 600;
    color: black;
    margin-bottom: 12px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    line-height: 1.5;
    padding: 0.25em 0.82em;
    font-size: 0.75em;
    border-radius: 50rem;
}